rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /configs/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId && isValidSize(request.resource.data);
    }
  }
}

function isValidSize(data) {
  // Check the number of fields in the document
  return data.size() <= 10 && // Limit the number of fields to 10
         data.keys().all(field => fieldSize(data[field]));
}

function fieldSize(field) {
  // Check the length of string fields
  return field is string ? field.size() <= 1000 : true;
}