@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-accent-color: #3b82f6;
  --primary-accent-hover-color: #2563eb;
  --secondary-accent-color: #50b0dafd;
  --secondary-accent-hover-color: #2c87ad;
  --tertiary-accent-color: #eab308;
  --tertiary-accent-hover-color: #a16207;
  --primary-color: #1f2937;
  --secondary-color: #374151;
  --active-highlight-color: #2d3748;
  --primary-text-color: white;
  --secondary-text-color: black;
}

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 10rem;
  height: 10rem;
  animation: spin 1.5s linear infinite;
}

.tab-button {
  background-color: transparent;
  color: var(--primary-text-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.tab-button.active {
  border-bottom: 2px solid var(--active-highlight-color);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.reviews-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.review-state-icon {
  position: absolute;
  bottom: -5px;
  right: -3px;
  width: 15px;
  height: 15px;
}

.more-approvers {
  color: var(--primary-text-color);
  margin-left: 8px;
  font-size: 0.875rem;
}

.chip {
  padding-left: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  background-color: var(--tertiary-accent-color);
  color: var(--secondary-text-color);
  border-radius: 0.25rem;
  cursor: pointer;
  max-height: 4rem;
}

.chip > button {
  padding-left:.5rem;
}
#pwa-toast {
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  display: grid;
}

#pwa-toast .message {
  margin-bottom: 8px;
}

#pwa-toast .buttons {
  display: flex;
}

#pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}

#pwa-toast.show {
  visibility: visible;
}

button#pwa-refresh {
  display: none;
}

#pwa-toast.show.refresh button#pwa-refresh {
  display: block;
}

/* Media Queries */
@media (max-width: 768px) {
  #tabs {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -50vw;
    margin-right: -55vw;
  }

  #content {
    display: block;
  }

  .reviews-container {
    overflow-x: auto;
    word-wrap: break-word;
    overflow-x: hidden;
  }
}

